---
layout: null
title: Etiker
description: Discussions about ethics, tech, and society, all powered by the team at Etiker.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2>The Ethics Consultancy for Tech</h2>
						<p>Discussions on ethics, tech, and society, led by the team at <a href="https://twitter.com/EtikerCo">@EtikerCo</a>.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Our Conversations With You</a></h2>
									<p>At Etiker, we don't claim to be perfect, or have a monopoly on defining ethics. Ethical codes are living breathing parts of our society. The heart beat of what makes us human. Having real, meaningful conversations about tough problems is what will build the ethical society of tomorrow that we need.</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/discussion.jpg" | absolute_url }}" alt="" /></a>
				                <p>Ethics matters. Our ethics serve as the framework of our society, the basis of our laws, and the core of our humanity. As technology has developed over the past half century, our ethical standards have often not adapted to its evolution. It's crucial that we as a society grapple with the ethical challenges tech is bringing, and it's up to us to decide what's right and what's not.</p>
				                <p>The good news is, there's already people working on this. Lawmakers in the European Union have tried, to their credit, although many have criticized them for creating technically infeasible regulations. If we want to do this right, and we need to, we need to start having conversations, do research, and start applying these ethics. At Etiker, we help companies apply ethical practices to their tech, and this is where we try to have an open discussion on ethics. We'll tell you when we're wrong, things we've grappled about, and how we're approaching things.</p>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
	</body>
</html>
