<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">

          <article class="post featured">
            <header class="major">
              <h2><a href="#">Welcome to Our Blog</a></h2>
              <p>Do you have questions, thoughts, or an interesting challenge we haven't grappled with? We'd love to chat with you. Feel free to drop us a line at <a href="mailto:hello@etiker.com">hello@etiker.com</a>, or shoot us a text at <a href="tel:16137017709">613-701-7709</a> any time.</p>
            </header>
						<p>
							We blog because we believe the ethics challenges faced in the tech field today cannot be solved by a handful of people alone. The discussion starts here, with us chatting with experts, difference makers, and you. We don't presently have a comments section, because we couldn't find a good one that wouldn't share our users' data. If you find one, let us know: <a href="erikp@etiker.com">erikp@etiker.com</a>! Thanks!
						</p>
          </article>
					<!-- Post -->
					<section class="posts">
						{% for post in site.posts %}
						{% assign mod3 = forloop.index | modulo: 3 %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
								</ul>
							</article>
							{% if mod3 == 0 %}
							<article>

							</article>
							{% endif %}
						{% endfor %}

					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
	</body>
</html>
